*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: rgb(44, 44, 44);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* Main */
header{
    background-color:#2b4ce2;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.HeaderTitle{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

nav{
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;

    width: 300px;
    height: 50px;
    background-color: #2038a3;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border-radius: 15px;

    box-shadow: 5px 5px 8px rgba(0, 0, 0, 25%);
}

nav a{
    height: 50px;
    width: 100px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
}

.nav-leftbtn{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.nav-rightbtn{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

nav a h4{
    margin-top: 12px;
    color: white;
}

.Content{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    margin-bottom: 90px;
}

.white{
    color: white;
}



.Title{
    margin-left: 200px;
    margin-top: 110px;
}

/* Projects */
#Projects{
    width: 100%;
    height: fit-content;
    background-color: #2b4ce2;
}

/* Card */

.blue{
    background-color: #0f1a49;
}

.card{
    width: auto;
    height: fit-content;
    margin: 20px;
    display: flex;
    transition: 0.3s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-reverse{
    width: auto;
    height: fit-content;
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    transition: 0.3s;
    background-color: #0f1a49;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-V2{
    width: auto;
    height: fit-content;
    margin: 20px;
    display: flex;
    transition: 0.3s;
    background-color: rgb(65, 65, 65);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-reverse-V2{
    width: auto;
    height: fit-content;
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    transition: 0.3s;
    background-color: rgb(65, 65, 65);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.marker-V2{
    height:auto;
    width: 10px;
    background-color: rgb(44, 44, 44);
}

.marker{
    height:auto;
    width: 10px;
    background-color: #2b4ce2;
}

.card-content{
    width: 100%;
    height: 100%;
}

.card-content div{
    margin: 20px;
    color: rgb(196, 196, 196);
}

@media(min-width: 700px){

    .HeaderTitle{
        font-size: 40px;
    }

    .Content{
        margin-bottom: 0px;
    }

    .proj-div{
        margin-top: 110px;
    }

    nav a:hover{
        background-color: #002fff;
    }

    .Content{
        flex-direction: row;
    }

    nav{
        position: fixed;
        top: 0;
        margin-top: 30px;
    }

}

@media(min-width: 1000px){

    .card, .card-V2{
        margin-left: 200px;
        margin-right: 200px;
    }

    .card-reverse, .card-reverse-V2{
        margin-left: 200px;
        margin-right: 200px;
    }

}