*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: rgb(44, 44, 44);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.bottomspacer{
    height: 100px;
}

/* Main */
header{
    background-color:#005eac;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.HeaderTitle{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#myHeader a{
    color: black;
}

.MainNav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    margin-top: 200px;
}

.MainNav a{
    height: 100%;
    display: flex;
    text-decoration: none;
}

.MainNav a h4{
    margin-top: 11px;
    color: white;
}

nav{
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    width: 300px;
    height: 50px;
    background-color: #005eac;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border-radius: 15px;

    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 25%);
}

.directimg{
    height: 32px;
}

nav a{
    height: 50px;
    width: 100px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s;
}

.pdf{
    display: flex;
    justify-content: center;
}

.pdf embed{
    width: 100%;
    height: 700px;
    border-radius: 15px;
}

.ViewBTN{
    color: rgb(196, 196, 196);
    text-decoration: none;
    transition: 0.2s;
}

.ViewBTN h4{
    margin: 20px;
}

.nav-leftbtn{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.nav-rightbtn{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

nav a h4{
    margin-top: 12px;
    color: white;
}

.Content{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    margin-bottom: 100px;
}

.icon{
    width: 32px;
    height: 32px;
}

.picParent{
    height: 110px;
    object-fit: contain;
}

.item_pic{
    height: 100%;
    width: auto;
}

.page{
    opacity: 100%;
    transition: 0.3s;
}

.spacer{
    display: none;
    margin-top: 110px;
}

.title{
    margin-top: 15px;
    margin-left: 20px;
    transition: 0.3s;
}

/* Parametres */

.txt-white{
    color: white;
}

.txt-dark{
    color: rgb(196, 196, 196);
}

/* Projects */
#Site-Projects{
    width: 100%;
    height: fit-content;
    
}

.blue{
    background-color: #2b4ce2;
    width: 100%;
}

.projectsTxt{
    color: rgb(104, 104, 104);
}



/* Card */

.card{
    width: auto;
    height: fit-content;
    margin: 20px;
    display: flex;
    transition: 0.3s;
    background-color: #0f1a49;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-reverse{
    width: auto;
    height: fit-content;
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    transition: 0.3s;
    background-color: #0f1a49;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.marker{
    height:auto;
    width: 10px;
    background-color: #2b4ce2;
}

.card-dark{
    width: auto;
    height: fit-content;
    margin: 20px;
    display: flex;
    transition: 0.3s;
    background-color: rgb(64, 64, 64);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-reverse-dark{
    width: auto;
    height: fit-content;
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    transition: 0.3s;
    background-color: rgb(64, 64, 64);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.marker-dark{
    height:auto;
    width: 10px;
    background-color: rgb(24, 24, 24);
}

.card-content{
    width: 100%;
    height: 100%;
    
}

.card-content div{
    margin: 20px;
    color: rgb(196, 196, 196);
}

@media(min-width: 700px){

    .HeaderTitle{
        font-size: 40px;
    }

    .Content{
        flex-direction: row;
    }

    .spacer{
        display: block;
    }

    .picParent{
        height: 200px;
    }
    

}

@media(min-width: 1024px){


    nav a:hover{
        background-color: rgb(64, 64, 64);
    }

    nav{
        position: fixed;
        top: 0;
        margin-top: 30px;
    }

    .Content{
        margin-bottom: 0px;
    }

    .bottomspacer{
        height: 0px;
    }

    .title{
        margin-left: 200px;
        margin-right: 200px;
    }

    .card, .card-dark{
        margin-left: 200px;
        margin-right: 200px;
    }

    .card-reverse, .card-reverse-dark{
        margin-left: 200px;
        margin-right: 200px;
    }

    .ViewBTN{
        color: rgb(104, 104, 104);
        text-decoration: none;
        transition: 0.2s;
    }
    
    .ViewBTN:hover{
        color: rgb(196, 196, 196);
    }

    .page{
        opacity: 30%;
    }
    
    .page:hover{
        opacity: 100%;
    }

    .picParent{
        height: 300px;
    }
    

}